[user]
	name = David Jacobs
	email = dev.david.jacobs@gmail.com
[core]
	excludesfile = ~/dotfiles/git/.gitignore
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[commit]
	template = ~/dotfiles/git/.gitmessage
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/