#!/bin/bash

# Basic
alias la='ls -la'
alias c='clear'
alias tr='tree'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# Dirs
alias cddj='cd $REPOS/github.com/djacobs24'

# URLs
alias gcal='open https://calendar.google.com'
alias gmail='open https://mail.google.com'
alias github='open https://github.com'

# Go
alias godeps='go list -m -mod=mod all'

# Kubernetes
alias kctl='kubectl'
alias kctx='kubectx'
alias kns='kubens'
alias k='k9s'

# Docker
alias d='docker'
alias prune='docker system prune'

# Applications
alias goland='/usr/local/bin/goland'

# Git
alias add='git add'
alias branch='git fetch --all; git branch -vv'
alias checkout='git checkout'
alias commit='git commit'
alias fetch='git fetch'
alias log='git log --pretty=format:"%h - %an, %ar: %s" --graph'
alias pull='git pull'
alias push='git push'
alias pushTag='git push origin $(git describe)'
alias pushNew='git push -u origin $(parseGitBranch)'
alias rebase='git rebase'
alias stash='git stash'
alias status='git status -s'
alias tag='git tag'
