#!/bin/bash

# Basic
alias la="ls -la"

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Dirs
alias cdtf="cd $GOPATH/src/github.com/TangramFlex/"
alias cddj="cd $GOPATH/src/github.com/djacobs24/"
alias cdcl="cd $GOPATH/src/github.com/TangramFlex/calypso"
alias cddv="cd $GOPATH/src/github.com/TangramFlex/devops"

# URLs
alias gcal="open https://calendar.google.com"
alias gmail="open https://mail.google.com"
alias github="open https://github.com"
alias weather="source ~/dotfiles/.functions; weather"

# Kubernetes
alias kfwd="source ~/dotfiles/.functions; kfwd"
alias kc="kubectl"
alias kn="kubens"
alias m="minikube"
alias md="eval $(minikube docker-env)"
alias kres="kubectl apply -f ./resources"
alias k9="k9s"

# Docker
alias dc="docker-compose" 

# Scala
alias scalapb="sh $HOME/Downloads/scalapbc-0.8.2/bin/scalapbc"
