#!/bin/bash

function weather() {
  if [ "$1" != "" ] && [ "$2" != "" ]; then
    LOC=$1+$2
  elif [ "$1" != "" ]; then
    LOC=$1
  else
    # Default city
    LOC=beavercreek
  fi

  curl -s http://wttr.in/$LOC
}

# Kubectl port forwarding
function kfwd() {
  if [ "$1" = "mongo" ]; then
    kubectl -n platform port-forward svc/mongodb 27017
  elif [ "$1" = "rabbit" ]; then
    kubectl -n platform port-forward svc/rabbitmq 15672
  elif [ "$1" = "api" ]; then
    kubectl -n platform port-forward svc/service-api 8080
  elif [ "$1" = "hook" ]; then
    kubectl -n platform port-forward svc/service-hook 3002
  fi
}

function setupMinikube() {
  cddv && pwd && minikube start && eval $(minikube docker-env) && kubens && kubens platform && kubens && kubectl apply -f $REPOS/github.com/TangramFlex/devops/resources
}
