#!/bin/bash

# View the weather
function weather() {
  if [ "$1" != "" ] && [ "$2" != "" ]; then
    LOC=$1+$2
  elif [ "$1" != "" ]; then
    LOC=$1
  else
    # Default city
    LOC=beavercreek
  fi
  curl -s http://wttr.in/$LOC
}

# View my aliases
function aliases() {
  grep alias ~/dotfiles/.aliases
}

# Parses a Git branch
function parseGitBranch() {
	git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e "s/* \(.*\)/\1$(parseGitDirty)/"
}

# Parses a dirty Git branch
function parseGitDirty() {
	[[ $(git status 2> /dev/null | tail -n1) != "nothing to commit, working tree clean" ]] && echo "*"
}

# Opens the iOS or Android emulator
function emulate() {
  if [ "$1" = "i" ]; then
    open -a Simulator
  elif [ "$1" = "a" ]; then
    $HOME/Library/Android/sdk/emulator/emulator -avd Pixel_3_XL_-_Q
  fi
}

